body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-image: url('./images/bgUnion.jpg');
  background-repeat: no-repeat;
    background-size: cover;
    
}

td{
  vertical-align: middle;
}

h1, h2 {
  text-align: center;
}

section {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

input, select {
  padding: 8px;
  margin: 5px 0;
  width: 150px;
}

button {
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
}

#reporteCuotas {
  margin-top: 20px;
  display: grid;
  gap: 10px;
}

.cuotas-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;
  text-align: center;
}

.al-dia {
  background-color: #a2f3a2;
}

.pendiente {
  background-color: #f8caca;
}

.cuota {
  padding: 6px;
  border-radius: 4px;
  font-size: 12px;
}

.pagada {
  background-color: #a2f3a2;
}

.pendiente {
  background-color: #f8caca;
}
