body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-image: url('./images/bgUnion.jpg');
  background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

h1, h2 {
  text-align: center;
}

section {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

input, select {
  padding: 8px;
  margin: 5px 0;
  width: 200px;
}

button {
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 4px;
  border-bottom: 1px solid #eee;
}